.news-card {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
    border: 5px solid #fff;
    a {
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        margin: 10px 0 0 0;
    }
}
.bg-news-card {
    width: 100%;
    height: 400px;
    background-image: url(/assets/img/bg-news-img-1.jpg);
    
}

.md-news-card {
    width: 100%;
    height: 250px;
    background-image: url(/assets/img/sarfaraz.jpeg);
    a {
        font-size: 24px;
    }
}

.md-news-card--2 {
    background-image: url(/assets/img/sarfaraz2.jpeg);
}

.sm-news-card {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 5px;
    transition: all .3s ease;
    margin: 5px 0 0 0;
    border: 5px solid #fff;
    background-color: #fff;
    img {
        width: 40%;
        height: 100px;
    }
    .text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        justify-content: space-between;
        a.title {
            font-size: 12px;
            margin-top: 10px;
        }
        a.source {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

.mdl-news-card {
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 5px;
    transition: all .3s ease;
    margin: 10px 0 0px 0;
    background-color: #fff;
    img {
        height: 70%;
    }
    .text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        justify-content: space-between;
        a.title {
            font-size: 14px;
            margin-top: 10px;
        }
        a.source {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}

.news-card-list {
    height: 350px;
    margin: 10px 0 0 0;
    background-color: #fff;
    padding-left: 10px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid #000;
            margin-bottom: 10px;
            padding-bottom: 10px;
            &:last-child {
                border: none;
            }
            a {
                text-decoration: none;
                color: #000;
                font-size: 15px;
            }
        }
    }
}