.news-card {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
    a {
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        margin: 10px 0 0 0;
    }
}
.bg-news-card {
    width: 100%;
    height: 400px;
    background-image: url(/assets/img/bg-news-img-1.jpg);
    
}

.md-news-card {
    width: 100%;
    height: 250px;
    background-image: url(/assets/img/sarfaraz.jpeg);
    a {
        font-size: 24px;
    }
}

.md-news-card--2 {
    background-image: url(/assets/img/sarfaraz2.jpeg);
}